/*Toolbar color*/
.mat-toolbar{
    background-color: #055ea9 ;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

/*Logo*/
img.nav-bar-logo{
    max-width: 70%;
    
}
.logo{
  padding-top: 50px ;
}
/*Table Styles*/
table {
    width: 90%;
    margin:  auto;
  }

  /* rows */
  .mat-row:hover {
    background-color: #055ea9;
  }
  .flexExpand {
    flex: 1 1 auto;
}

.b-nav{
  background-color: #055ea9;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
}
.b-nav:hover{
  background-color: #1d325c;
  color: #fff;
}

/*Media query for smal devices*/
@media only screen and (max-width: 810px) {
  .list{
      display: none;
      }
  }