/*Toolbar color*/
.mat-toolbar{
    background-color: #055ea9 ;
}

/*Logo*/
img.nav-bar-logo{
    max-width: 70%;
}

/*Table Styles*/
table {
    width: 90%;
    margin:  auto;
  }

  /* rows */
  .mat-row:hover {
    background-color: #055ea9;
  }